#banner{
    background-color: #18191a;
}

.title{
    font-size: 6rem;
    color: white;
    font-weight: 700;
    margin: 0 15vw;
    padding-left: 17.5vw;
    width: 100%;
    white-space: nowrap;
}

#left{
    background-color: #0d93f2;
    z-index: 2;
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}

#right{
    background-color: #18191a;
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}

.banner-card{
    position: absolute;
    height: max-content;
    width: 17.4vw;
    background-color: white;
    z-index: 999999;
    box-shadow: 0 0 10px 4px rgba(57, 81, 94, 0.2);
    transform: translate(17.5vw, 75vh);
    margin-top: 4rem;
    padding: 0.5rem;
}

#card-2{
    margin-left: 25vw;
}

#card-3{
    margin-left: 50vw;
}


#info-section{
    margin-top: 24rem;
    padding-left: 17.5vw;
    padding-right: 17.5vw;
}

#info-section-left{
    width: 45%;
    margin-right: auto;
}

#info-section-right{
    width: 45%;
}