html{
    scroll-behavior: smooth;
    font-family: 'Satoshi', sans-serif;
    overflow-x: hidden;
    color: #18191a;
}
  
.h-screen{
    height: 100vh;
}

.w-screen{
    width: 100vw;
}

.text-blue{
    color: #0d93f2;
}

.text-dark-gray{
    color: #18191a;
}

.text-white{
    color: white;
}

