<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link th:href="@{css/main.css}" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/idx.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/shared.css">
    <script src="/js/index.js" defer=""></script>

    <link href="https://api.fontshare.com/v2/css?f[]=satoshi@1,900,700,500,301,701,300,501,401,901,400,2&amp;display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/imgs/favicon.svg">

    <title>CalenDR</title>
</head>


<body>
    <nav class="flex text-xl py-4 px-8">
        <a class="text-3xl font-extrabold nav-link" href="/">Melano</a>
        <a class="ml-auto nav-link" href="/">Detection</a>
        <a class="ml-4 nav-link" href="/">About</a>
    </nav>

    <section id="banner" class="h-screen w-screen">
        <div id="left">
            <div class="title">
                <p>Fighting a battle</p>
                <p>against <em>skin cancer</em>.</p>
            </div>
        </div>
        <div id="right">
            <div class="title">
                <p>Fighting a battle</p>
                <p>for <em>happiness</em>.</p>
            </div>
        </div>
    </section>

    <section id="info-section" class="h-screen">

    </section>
</body>
</html>